<nav class="navbar navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid justify-content-between">
        <a href="/profile" class="navbar-brand p-2 fs-4">
            <img class="brand me-1" src="/images/favicon.png" alt="brand" />
            NBA Dream Team
        </a>
        <ul class="d-flex flex-row mx-0 m-auto">
            {{#if isLoggedIn}}
                <li class="nav-item d-flex align-items-center justify-content-end nav-user">
                    <p class="text-light fw-bold d-inline m-0">Welcome back, <a class="nav-link d-inline px-1" href="/profile">{{user.username}}!</a></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/logOut">Log Out</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>

<div class="container d-flex justify-content-center" id="profile-container">
    <div class="row align-items-center w-100">
        <div class="col-8 d-flex flex-column align-items-center text-light">
            <div class="">
                <h1 class="text-center m-3">My Favourite Players</h1>
                <ul class="p-0 overflow-auto myTeams-list">
                    <li class="d-flex justify-content-center my-2 add-card myFavPlayers">
                        <a class="p-2" href="/profile/add-player">
                            <button class="btn">
                                <img src="/images/add.png" alt="add-button" />
                            </button>
                        </a>
                        <h3 class="d-flex align-items-center text-dark">Add a New Player</h3>
                    </li>
                    {{#each favPlayers}}
                        <li class="d-flex justify-content-center my-2 text-dark player-card text-center">
                            <div class="m-2">
                                <h4 class="fw-bold text-decoration-underline">{{this.first_name}} {{this.last_name}}</h4>
                                <p class="m-0">
                                    <b>Height: </b>{{this.height_feet}}' {{this.height_inches}}"
                                    <b>Weight: </b>{{this.weight_pounds}}
                                    <b>Team: </b>{{this.team_name}}
                                    <b>Pos: </b>{{this.position}}
                                </p>      
                            </div>
                            <form class="d-flex" action="/profile/remove-player" method="POST">
                                <button value="{{this._id}}" class="btn p-0 delete-button d-flex align-items-center bi bi-trash-fill fs-3"></button>
                            </form>
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="">
                <h1 class="text-center m-3">My Teams</h1>
                <ul class="p-0 overflow-auto myTeams-list">
                    <li class="d-flex justify-content-center my-2 add-card myFavPlayers">
                        <a class="p-2" href="/profile/create-team">
                            <button class="btn">
                                <img src="/images/add.png" alt="add-button"/>
                            </button>
                        </a>
                        <h3 class="d-flex align-items-center text-dark">Add a New Team</h3>
                    </li>
                    {{#each myTeams}}
                        <li class="d-flex justify-content-between my-2 player-card text-dark text-center w-100">
                            <form class="d-flex" action="/profile/{{this._id}}/edit-team" method="POST">
                                <button class="btn p-0 mx-3 edit-button d-flex align-items-center bi bi-pencil-square fs-3"></button>
                            </form>
                            <div class="m-2">
                                <h3 class="fw-bold text-decoration-underline">{{this.name}}</h3>
                                <p class="m-0">
                                    <b>Players Count: </b>{{this.players.length}}
                                </p>
                            </div>
                            <form class="d-flex" action="/profile/{{this._id}}/delete" method="POST">
                                <button class="btn p-0 mx-3 delete-button d-flex align-items-center bi bi-trash-fill fs-3"></button>
                            </form>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div id='myProfile' class="col-4 d-flex flex-column align-items-center">
            <h1 class="text-nowrap my-5">My Profile</h1>
            <img id='profilePic' class='mb-4' src="{{user.imageUrl}}" alt="profile-pic">
            <ul class="text-center text-nowrap p-0" id="profile-bio">
                <li class="fs-3 fw-bold profile-info text-decoration-underline m-2">{{user.username}}</li>
                <li class="fs-5 profile-info m-1">Age: {{user.age}}</li>
                <li class="fs-5 profile-info m-1">{{user.country}}</li>
                <li class="fs-5 profile-info m-1">{{user.favTeam}}</li>
                <li class="fs-5 profile-info m-1">{{user.aboutMe}}</li>
            </ul>
            <a href="/profile/edit" class="button">
                <button class="btn btn-primary fw-bold px-5 py-2 mb-5 text-nowrap">
                    Edit Profile
                </button>
            </a>
        </div>
    </div>
</div>
