<nav class="navbar navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid justify-content-between">
        <a href="/" class="navbar-brand p-2 fs-4">
            <img class="brand me-1" src="/images/favicon.png" alt="brand">
            NBA Dream Team
        </a>
    </div>
</nav>

<div class="container d-flex justify-content-center">
    <div class="row align-items-center">
        <div class="col-6 d-flex flex-column align-items-center p-5 mb-5" id="homepage-create">
            <h1 class="text-center mb-4">Create Your Dream Team</h1>
            <a href="/signUp" class="text-decoration-none  button">
                <button class="btn btn-primary fw-bold px-5 py-2 mb-4">
                    Join To Get This Team
                </button>
            </a>
            <div>
                <div class="d-flex flex-row my-2">
                    <img src="" alt="">
                    <div>
                        <h5>{{lebronJames.first_name}} {{lebronJames.last_name}}</h4>
                        <p>
                            Height:
                            Team: 
                            Pos:
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row my-2">
                    <img src="" alt="">
                    <div>
                        <h5>{{kevinDurant.first_name}} {{kevinDurant.last_name}}</h4>
                        <p>
                            Height:
                            Team: 
                            Pos:
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row my-2">
                    <img src="" alt="">
                    <div>
                        <h5>{{giannisAntetokounmpo.first_name}} {{giannisAntetokounmpo.last_name}}</h4>
                        <p>
                            Height:
                            Team: 
                            Pos:
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row my-2">
                    <img src="" alt="">
                    <div>
                        <h5>{{jamesHarden.first_name}} {{jamesHarden.last_name}}</h4>
                        <p>
                            Height:
                            Team: 
                            Pos:
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row my-2">
                    <img src="" alt="">
                    <div>
                        <h5>{{stephenCurry.first_name}} {{stephenCurry.last_name}}</h4>
                        <p>
                            Height:
                            Team:
                            Pos:
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" id="info-container">
            <p class="text-light fs-3 mb-5">
                Prove to the world that your NBA team is the best. Come on, hurry up! Pick 5 players, create your own team, choose your favourite players and share them with your friends.
            </p>
            <div class="d-flex flex-column align-items-center mt-5">
                <a href="/logIn">
                    <button class="btn btn-primary fw-bold px-5 py-2">
                        Login
                    </button>
                </a>
                <p class="text-light fs-5 my-2">You don't have an account <a class="fw-bold" href="/signUp" id="signup-link">Sign Up!</a></p>
            </div>
        </div>
    </div>
</div>