<nav class="navbar navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid justify-content-between">
        <a href="/profile" class="navbar-brand p-2 fs-4">
            <img class="brand me-1" src="/images/favicon.png" alt="brand" />
            NBA Dream Team
        </a>
        <ul class="d-flex flex-row mx-0 m-auto">
            {{#if isLoggedIn}}
                <li class="nav-item d-flex align-items-center justify-content-end nav-user">
                    <p class="text-light fw-bold d-inline m-0">Welcome back, <a class="nav-link d-inline px-1" href="/profile">{{username}}!</a></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/logOut">Log Out</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>

<a class="position-absolute p-3" href="/profile">
    <img src="/images/back.png" alt="back-button"/>
</a>

<div class="d-flex flex-column justify-content-center align-items-center" id="addPlayer-container">
    <h1 class="display-2 my-5 text-light">Add a Favourite Player</h1>
    <form class="w-50" action="/profile/list-players" method="POST">
        <div class="input-group input-group-lg mb-4">
            <input name='search' type="text" class="form-control py-3 text-center text-light bg-dark" id="search-form" placeholder="Search the player's name" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary fw-bold text-center" type="submit" id="button-addon2">Search</button>
        </div>
    </form>
    <div id="players-container" class="text-light overflow-auto my-3">
        {{#each playersArr}}
            <form class="mx-2" action="/profile/add-player" method="POST">
                <button type="submit" name="player" value="{{this.id}}" class="btn d-flex flex-row justify-content-center my-2 w-100 player-card">
                    <div>
                        <h4 class="fw-bold text-decoration-underline">{{this.first_name}} {{this.last_name}}</h4>
                        <p class="text-wrap player-info m-0">
                            <span class="text-nowrap">
                                <b>Height: </b>{{this.height_feet}}' {{this.height_inches}}"
                            </span>
                            <span class="text-nowrap">
                                <b>Weight: </b>{{this.weight_pounds}} lb
                            </span>
                            <span class="text-nowrap">
                                <b>Team: </b>{{this.team.full_name}}
                            </span>
                            <span class="text-nowrap">
                                <b>Pos: </b>{{this.position}}
                            </span>
                        </p>
                    </div>
                </button>
            </form>
        {{/each}}
    </div>
</div>